numpy==1.14.5
opencv-python == 3.4.7
easyocr == 1.4
Pillow == 5.4.1
torch == 1.9.0
scikit-image == 0.18.3
torchvision == 0.10.0
scipy == 1.4.1
kiwisolver==1.0.1
PyWavelets==1.1.1
matplotlib==3.2.1
